p a:link {
    color: rgb(0, 255, 64);
    background-color: transparent;
    text-decoration: none;
}   

p a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

p a:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
    text-decoration: underline;
}

p a:active {
    color: rgb(255, 0, 255);
    background-color: transparent;
    text-decoration: underline;
}